@import "style.css";

#table {
    display:flex;
    justify-content: center;
    
    
}

p {
    font-family: var(--p-font-family);
}

h1 {
    font-family: var(--h1-font-family);
}

thead {
    background-color : black;
    color : whitesmoke;
}

table, td, tr, th {
    border : 1px solid black;
}

@media screen and (min-width: 1000px) {
    td, th {
        padding: 10px 20px;
    }

    h2, p {
        text-align: center;
    }

    .useful-link ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}