@import "style.css";
h1 {
    font-size: large;
    text-align: center;
    width: 90%;
}

main {
    max-width: 80 vw;
}

.textIntroGenre {
    padding-right: 5vw;
    padding-left: 3vw;
    font-size: smaller;
    text-align: justify;
}

img {
    background-size: cover;
    height: auto;
    width: 100vw;
    object-fit: cover;
}

.genreDiv {
    max-width: 100vw;
}

h2 {
    font-size: large;
    margin-bottom: 0;
}

.description {
    margin-top: 0;
    font-size: smaller;
}