@import "style.css";
main {
    max-width: 80 vw;
    overflow-x: hidden;
}

.textIntroGenre,
.description {
    padding-right: 5vw;
    padding-left: 3vw;
    font-size: smaller;
    text-align: justify;
}

.container {
    --n: 1;
    width: calc(var(--n)*100%);
    display: flex;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    width: calc(var(--n)*100%);
    transition: transform .5s ease-out;
}

.genreDiv {
    max-width: 100vw;
    width: calc(100%/var(--n));
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.imageLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-blend-mode: luminosity;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

img {
    display: block;
    height: auto;
    object-fit: contain;
    max-height: 40vh;
    height: auto;
    max-width: 100vw;
    width: 100vw;
}

figcaption {
    color: white;
    background-color: #404040;
    font-size: smaller;
}

h2 {
    font-size: large;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .imageLink {
        height: 60vh;
    }
    img {
        max-height: 60vh;
    }
    .textIntroGenre,
    .description {
        padding: 0;
        margin: auto;
        width: 1024px;
    }
}