@import "style.css";

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px;
}

.container {
    padding: 10px 25px 10px 70px;
    margin: 10px 0px 10px 30px;
    position: relative;
    width: 80%;
    background-color: gray;
    border-radius: 5px;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid blue;
    border-width: 10px 10px 10px 0px;
    border-color: transparent transparent transparent blue;
}

.right::after, .left::after {
    left: -15px;
}

@media screen and (min-width: 1000px) {
    .right {
       left: 47%;
    }

    .right::before {
        left: 0%;
    }

    .left {
        right: 30px;
    }

    .left::after {
        left: 97%;
    }

    .container {
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .timeline::after {
        left: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .right {
        left: 47.5%;
    }
}