@import "style.css";

.banner {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .explications div {
        display: flex;
        width: 90vw;
        margin: auto;
    }

    .explications img {
        width: 100%;
        height: auto;
    }

    .left {
        flex-direction: row-reverse;
    }
}