html, body {
    margin: 0;
    padding: 0;
}

nav ul {
    display: none;
}

#button_nav:checked ~ ul {
    display: block;
}

#button_nav {
    opacity: 0;
    position: absolute;
}

#image_nav {
    font-size: 10em;
}