:root {
    --first-color: #a09589;
    --header-color: #4A5255;
    --h1-font-family: 'Oswald', sans-serif;
    --p-font-family: 'Open Sans', sans-serif;
}

html,
body {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    background-color: var(--first-color);
    font-family: var(--p-h1-family);
}


nav ul {
    display: none;
    position: absolute;
    background-color: var(--header-color);
    list-style-type: none;
    top : 0;
    
}

nav ul li {
    border: 1px solid grey;
}

#button_nav:checked~ul {
    display: block;
}

#button_nav:checked~ul li {
    float: none;
}

a:visited,a:link {
    text-decoration:none;
    color: black;
}



#button_nav {
    opacity: 0;
    position: absolute;
}

#image_nav {
    font-size: xx-large;
}

header {
    position:fixed;
    top: 0;
}

nav {
    width: 3rem;
}



img {
    max-width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: var(--h1-font-family);
}

p {
    font-family: var(--p-font-family);
}